body {
  text-align: center;
  font-family: helvetica;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.header {
  background-image: url(../the-flatiron-building.png);
  color: white;
}

#divider{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../the-flatiron-building.png);
}

#footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
